.grid {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    column-gap: 100px;
    row-gap: 10px;
    border: 2px solid black;
    justify-content: stretch;
  }
  .a{
    border: 1px solid black;
    /* width: 100px;
    height: 100px; */
    
    text-align: center;

  }
  .imguno{
    width: 50%;
    height: 6cm;
    display: grid;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto auto; */
    float: right;
  }
  #a{
    grid-column: 1/3;
  }
  #f{
    grid-column: 1/3;
  }
  #d{
    text-align: left;
  }
  .exito{
    text-align: center;
  }